<br>
<%= link_to "Click here", "/celebrities/new" %> to add a new weibo user as a celebrity"
<h1>Celebrities</h1>
<ul class="celebrities">
  <% @celebrities.each do |c| %>
    <li>
      <%= link_to c.screen_name, c %>
    </li>
  <% end %>
</ul>
