<br>
<%= link_to "Click here", Celebrity.new %> to add a new weibo user as a celebrity"
<h2>Celebrities</h2>


<% @celebrities.each do |c| %>
    <div style="width: 30%; float: left;">
    <%= link_to c.screen_name, c %>
    </div>

    <div style="align:right; float: left; width: 60%;">
      <%= link_to "Synchornize", { controller: 'celebrities', action: 'sync' }, class: 'btn-primary btn-small' %>
    </div>

    <br>
    <br>
<% end %>
